@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    overflow: hidden;
    box-sizing: border-box;
}

.main-container{
    background-color: antiquewhite;
}

#menu-bar{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background-color: #f5810c;
    color: #fff;
    border-radius: .5rem;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
#close-bar{
    position: fixed;
    top: 1rem;
    z-index: 10000;
    background-color: #f5810c;
    color: #fff;
    border-radius: 0.5rem;
    padding: 6px 16px;
    font-size: 1.2rem;
    cursor: pointer;
    left: 12rem;
    display: none;
}
/* ---------------------Home-section-css-start---------------------- */
.home-section{
    display: flex;
    font-family: 'Kanit', sans-serif;
}
.home-left-section{
    width: 25%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #000;
    color: #fff;
    transition: 0.5s liner;
}
.side-header{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

 .navbar ul li{
    list-style: none;
    font-weight: bold;

}
 .navbar ul li a{
   text-decoration: none;
   color: #fff;
  text-transform: capitalize;
  position: relative;
  font-size: 1.2rem;

}
ul li a::before{
    content: '';
    width:0;
    height: 2px;
    background-color: #f5810c;
    position: absolute;
    bottom: 0;
    transition: width 0.5s linear;
}
ul li a:hover::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #f5810c;
    position: absolute;
    bottom: 0;
}
 .navbar ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;

}

.side-name h1{
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.side-name h1 span:nth-child(1){
    color: #f5810c;
}

.side-header .icons{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.icons a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
} 
.navbar ul .active{
    color: #f5810c;
}
/* --------------------right-section-css------------ */
.home-right-section{
    width: 75%;
}
.home-right-section .image img{
    width: 400px;
    height: 400px;
}

.home-right{
    display: flex;
    min-height: 100vh;
    align-items: center;
    
}

.home-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  0 5rem;

}

.home-info .heading-name{
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.home-info .heading-name h2 span:nth-child(2){
    color: #f5810c;
}
.home-info p{
    padding-top: 10px;
}

.home-info .btn{
    padding-top: 10px;
}
 .btn button{
    padding: 5px 10px;
    text-transform: capitalize;
    
    background: #f5810c;
    border-radius: 2px; 
    color: #fff;
}

.home-info span{
    padding: 10px 0;
}



/* ------media--- quries------- */
@media only screen and (max-width:991px  ) {
    body{
        background-color: #ff004f;
    }
    
    #menu-bar{
        display: inline-block;
    }
    .home-left-section{
         /* transform: translateX(-100%);  
         width: 0;   */
        transition: 0.5s linear;
    }  
.home-right-section{

}
