*{
    margin: 0;
    padding: 0;
}

/* ===================Navbar=========== */
li {
    padding: 0 2rem;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: #fff;
}


.container {
    position: sticky;
    top: 0;
    /* margin: 0 4rzem; */
    background: #0e0d0dcf;
    color: #fff;
    font-family: 'Roboto', sans-serif;

}


.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
}

.header-container .navbar ul {
    display: flex;
    list-style: none;
    /* padding: 0 2rem; */
}
li a {
    display: inline-block;
    position: relative;
}

li a::before {
    content: '';    
    width: 0;
    height: 2px;
    background-color: tomato;
    position: absolute;
    top: 30px;
    transition: 0.5s linear ;
}

/* ===================Navbar-hover=========== */
li a:hover::before{
    width: 100%;
    
}
li a:hover{
color: #e61c20;
}
/* =================== END-Navbar=========== */
 

/* =================skill-edu============= */

.skill-edu {
    display: flex;
    /* height: 70vh; */
    background: #2a2727;
    justify-content: center;
    align-items: center;
    color: #fff;


}

.left-container {
    text-transform: capitalize;
    /* background:#828080 */

}

.education {
    padding: 60px 0;

}

.education span {
    color: tomato;
}

.main-edu {
    display: flex;
}

.left-side {
    width: 5px;
    height: 220px;
    background: #0d0d0da6;
    margin-right: 8px;
    position: relative;
}

.left-side span:nth-child(1) {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: black;
    position: absolute;
    left: -3px;
}

.left-side span:nth-child(2) {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: black;
    position: absolute;
    left: -3px;
    top: 133px;
}

.right-side p {

    padding-bottom: 30px;
}

.skills-container {
    padding-left: 80px;
    text-transform: capitalize;
    width: 500px;
    height: 428px;
}

/* skills-container start */

.right-container .bars{
    margin-bottom: 40px;
    position: relative;
    
}
.right-container .line{
    height: 4px;
    width:100%;
    background-color: lightgray;
}
.right-container .bars .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.right-container .bars span{
     font-weight: 500;
     font-size: 18px;
}

.right-container .line::before{
    content: '';
    position: absolute;
    height: inherit;
    left: 0;
    top: 21px;
    background: crimson;
}
.right-container .html::before{
width: 70%;

}


.right-container .CSS::before{
width: 80%;
}
.right-container .JvaScript::before{
width: 60%;
}
.right-container .boostraps::before{
width: 65%;
}


